.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  z-index: 9999;
  cursor: pointer;
  transition: transform 0.3s;
}

.whatsapp:hover {
  transform: scale(1.1);
}

.whatsapp img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.whatsapp-tooltip {
  position: absolute;
  bottom: 80px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 14px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  border-radius: 5px;
  height: 30px;
  line-height: 30px;
  white-space: nowrap;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.whatsapp:hover .whatsapp-tooltip {
  opacity: 1;
  visibility: visible;
}

.logo-container {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Nilai z-index yang lebih tinggi */
}

.logo {
  width: 50px;
  height: 50px;
  margin: 15px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999; /* Nilai z-index yang lebih tinggi */
}

.carousel-item {
  height: 55vh; /* Mengatur tinggi carousel menjadi setengah tinggi viewport */
}

.carousel-item img {
  object-fit: cover; /* Memastikan gambar mengisi ruang carousel dengan proporsi aspek yang benar */
  height: 100%; /* Mengisi tinggi carousel dengan gambar */
}

.payment-section {
  text-align: center;
  margin-top: 60px;
}

.payment-card-title {
  background-color: #ffffff;
  color: #010101;
  font-size: 24px;
  height: 320px;
  position: relative;
  font-weight: bold;
  z-index: 3;
}

.payment-title {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.payment-card {
  height: 300px;
  width: 50vw;
  display: inline-block;
  z-index: 200;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.payment-image {
  width: 100%;
  height: auto;
  z-index: 200;
}

.image-tiket {
  width: 15px;
  height: auto;
  margin-left: 40px;
}

.card-container-cari {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.card-cari {
  width: 750px;

  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 992px) {
  /* Media query untuk layar dengan lebar maksimum 992px */
  .card-cari {
    width: 300px;
  }

  .card-container-cari {
    top: 10%;
  }
  .payment-section {
    margin-top: 500px;
  }
}
@media screen and (max-width: 576px) {
  /* Media query untuk layar dengan lebar maksimum 576px */
  .card-cari {
    border-radius: 15px;
  }
}

.card-kanan {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 20%;
  left: 25%;
  margin-right: 10px; /* Jarak dari tepi kanan */
  z-index: 150;
}

.card-kiri {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 20%;
  right: 25%;
  margin-left: 10px; /* Jarak dari tepi kiri */
  z-index: 150;
}

/* Responsif pada layar dengan lebar kurang dari atau sama dengan 768px */
@media (max-width: 768px) {
  .card-kanan,
  .card-kiri {
    position: static;
    margin-right: 0;
    margin-left: 0;
    top: initial;
    left: initial;
    right: initial;
  }
}

.card-besar {
  background-color: #ffffff;
  max-height: 900px;
  position: absolute;
  margin-top: 10%;
  z-index: 100;
}

footer {
  margin-top: 300px;
}
.card-tiket {
  width: 750px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card-caritiket {
  width: 750px;
  height: 320px;
  margin-left: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.layanan-tiket {
  display: flex;
  margin-left: 70px;
  align-items: center;
}

.logo-tiket {
  width: 65px;
  height: 50px;
  margin-right: 25px;
}

.card-kapal {
  width: 150px;
  height: 20px;
  background: rgba(235, 235, 235, 0.6);
  border-radius: 14px;
  display: flex;
  align-items: center;
  font-size: 12px;
  justify-content: center;
}
.tanggal-tiket {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.458);
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  opacity: 0.7; /* Nilai opacity untuk membuat watermark */
  margin-left: 300px;
}

.card-lokasi {
  margin-left: 40px;
  display: flex;
  float: left;
}
.card-asal {
  width: 120px;
  height: 20px;
  background: rgba(235, 235, 235, 0.6);
  border-radius: 14px;
  margin-right: 150px;
  align-items: center;
  font-size: 12px;
  display: flex;
  justify-content: center; /* Teks menjadi terpusat secara horizontal */
}

.card-tujuan {
  width: 120px;
  height: 20px;
  font-size: 12px;
  background: rgba(235, 235, 235, 0.6);
  border-radius: 14px;
  align-items: center;
  display: flex;
  margin-right: 190px;

  justify-content: center;
}

.card-jam {
  margin-top: 50px;
  margin-left: 75px;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.card-keberangkatan {
  font-weight: bold;
  margin-right: 35px;
}

.card-tiba {
  font-weight: bold;
  margin-left: 15px;
  margin-right: 45px;
}

.tiket-harga {
  margin-left: 150px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.tiket-harga2 {
  font-style: italic;
}

.garis-horizontal {
  position: relative;
  height: 2px;
  background-color: rgb(4, 4, 4);
  margin: 20px 0;
  margin-right: 20px;
  width: 30%;
}

.garis-horizontal::before {
  position: absolute;
  top: 20px;
  transform: translateX(-50%);
  width: 60px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.kelas-text {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 0 10px;
  font-weight: bold;
}

/* card nyari tiket di tiket */
.caritiket-title {
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}

.caritiket-title2 {
  font-size: 12px;
  margin-bottom: 20px;
}
input::placeholder {
  color: #000000;
  opacity: 1; /* Untuk browser yang mendukung */
}

/* Contoh pengaturan warna teks placeholder dengan latar belakang input yang gelap */
input.dark::placeholder {
  color: #ccc;
}
select,
input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  width: 180px;
  margin-bottom: 15px;
  cursor: default;
  border-radius: 7px;
}

.select-icon-tiket {
  background-repeat: no-repeat;
  background-position: 7%;
  padding-left: 35px;
  background-size: 17px 17px; /* Sesuaikan ukuran ikon */
}

.ticket-align {
  margin-left: 45px;
}

.button-cari {
  width: 60px;
  height: 30px;
  background: #f7b917;
  border-radius: 7px;
  align-items: center;
  display: inline-flex; /* Mengubah display menjadi inline-flex */
  font-size: 14px;
  color: white;
  margin-left: 60%;
  margin-top: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  border-color: #ffffff;
  justify-content: center; /* Teks menjadi terpusat secara horizontal */
}

.button-pilih {
  width: 90px;
  height: 30px;
  background: #f7b917;
  border-radius: 7px;
  align-items: center;
  display: inline-flex; /* Mengubah display menjadi inline-flex */
  font-size: 14px;
  color: white;
  margin-top: 3px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  border-color: #ffffff;
  justify-content: center; /* Teks menjadi terpusat secara horizontal */
}

.button-cari:hover,
.button-pilih:hover {
  cursor: pointer;
  background: #f79917; /* Warna latar belakang saat dihover atau sedang diclick */
}
.floating-card {
  position: absolute;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  display: none;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.form-group label {
  width: 120px;
  margin-right: 10px;
}

.form-group input[type="number"] {
  width: 40px;
  text-align: center;
  margin-right: 10px;
}

.form-group button {
  padding: 2px 5px;
}
#floatingKendaraan {
  position: absolute;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  display: none;
}

.card-kendaraan {
  height: 40px;
  width: 200px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-width: 1px;
  color: black;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  font-weight: bold;
  align-items: center;
  display: inline-flex;
  cursor: pointer;
}
.card-kendaraan:hover {
  border: 1px solid rgb(79, 61, 240);
}

.card-kendaraan1 {
  height: 50px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-width: 1px;
  color: black;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  font-weight: bold;
  align-items: center;
  display: inline-flex;
  cursor: pointer;
}
.card-kendaraan1:hover {
  border: 1px solid rgb(79, 61, 240);
}

.card-left {
  margin-right: 100px;
  font-family: "Roboto", sans-serif;
}

.ui-datepicker-header {
  background-color: black;
}

.ui-datepicker-header a.ui-datepicker-prev,
.ui-datepicker-header a.ui-datepicker-next,
.ui-datepicker-header span {
  background-color: black;
  color: white;
} /* Mengubah tampilan tanggal yang dapat dipilih */
.ui-datepicker-calendar .ui-state-default:not(.ui-state-disabled) {
  background-color: black;
  color: white;
}

/* Mengubah tampilan tanggal yang tidak dapat dipilih */
.ui-datepicker-calendar .ui-state-disabled {
  background-color: white;
  color: black;
}
/* Mengubah warna latar belakang tombol di footer kalender picker menjadi hitam */
.ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-buttonpane button.ui-datepicker-close {
  background-color: black;
  color: white;
}

.penumpang {
  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
  margin-top: -5px;
  border-radius: 0;
  width: 50px;
  height: 19pt;
  font-size: 12px;
  text-align: center;
}

.btn-penumpangTambah {
  background-color: rgb(46, 46, 46);
  color: white;
  width: 20px;
  height: 19pt;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: none; /* atau border-left: 0; */
  font-size: 18px;
  border-radius: 0 5px 5px 0;
  transform: translate(0%, -10%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-penumpangKurang {
  background-color: rgb(46, 46, 46);
  color: white;
  width: 20px;
  border-radius: 5px 0 0 5px;
  height: 19pt;
  border-top: 1px solid #ccc;
  border-right: none;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  font-size: 18px;
  transform: translate(0%, -10%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-penumpangKurang:active,
.btn-penumpangTambah:active {
  background-color: rgb(79, 79, 79);
  color: rgb(197, 197, 197);
}

.card-penumpang {
  border-radius: 5px;
  border: 1px solid #ccc;
  border-width: 1px;
  color: black;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  padding: 10px;
}

.text-penumpang {
  position: absolute;
  top: 28%;
  font-size: 11px;
  color: #c7c6c6;
}

.text-penumpang1 {
  position: absolute;
  top: 66%;
  font-size: 11px;
  color: #c7c6c6;
}
.text-input {
  margin-bottom: 7px;
  margin-top: 10px;
}
.font-abu {
  color: #ccc;
}

.lingkaran-kecil {
  width: 16px;
  height: 16px;
  border: 1px solid #a8a4a4;
  border-radius: 50%;
  background-color: transparent;
  margin-left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.selected {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(79, 61, 240);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.selected::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid rgb(79, 61, 240);
}

.text-left {
  margin-right: 50px;
  font-size: 13px;
  margin-bottom: 10px;
}

.back-icon {
  font-size: 12px;
  margin-left: 5px;
}
