* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*Image*/
.img-radius {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.img-cir {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
}

.logo-desktop {
  height: 44px;
  width: 60px;
}

.img-120 {
  width: 120px;
  height: 120px;
}
ul {
  margin: 0;
}

button,
input[type="button"] {
  cursor: pointer;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
}

input,
textarea {
  border: none;
}

button {
  border: none;
  background: none;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
}

.table-responsive {
  padding-right: 1px;
}

.card {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* ----- Typography ----- */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
  font-weight: 700;
  margin: 0;
  line-height: 1.2;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 13px;
}

blockquote {
  margin: 0;
}

strong {
  font-weight: 700;
}

/* ----- Header ----- */
.header-desktop {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 75px;
  z-index: 9999;
}

.header-desktop .section__content {
  overflow: visible;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

@media (max-width: 991px) {
  .header-desktop {
    position: relative;
    top: 0;
    left: 0;
    height: 170px;
  }
}

.header-desktop .mess-dropdown {
  top: 51px;
}

.header-desktop .email-dropdown {
  top: 51px;
}

.header-desktop .notifi-dropdown {
  top: 51px;
}

@media (max-width: 991px) {
  .logo {
    text-align: center;
    left: 10px;
  }
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .header-wrap .account-item > .content {
    display: none;
  }
}

@media (max-width: 991px) {
  .header-wrap {
    flex-direction: column;
  }

  .header-wrap .mess-dropdown {
    left: 0;
  }

  .header-wrap .mess-dropdown::before {
    left: 0;
  }

  .header-wrap .notifi-dropdown {
    left: -83px;
  }

  .header-wrap .notifi-dropdown::before {
    left: 79px;
  }
}

.header-button {
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  .header-button {
    margin-top: 30px;
    width: 100%;
    justify-content: space-between;
  }
}

.noti-wrap {
  height: 45px;
  display: flex;
  align-items: center;
}

.noti-wrap .noti__item:last-child {
  margin-right: 50px;
}

@media (max-width: 1200px) {
  .noti-wrap .noti__item:last-child {
    margin-right: 30px;
  }
}

@media (max-width: 991px) {
  .noti-wrap .noti__item:last-child {
    margin-right: 0;
  }
}

.noti__item {
  position: relative;
  margin-right: 35px;
  display: inline-block;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .noti__item {
    margin-right: 25px;
  }
}

@media (max-width: 767px) {
  .noti__item {
    margin-right: 20px;
  }
}

.noti__item:hover i {
  color: #999;
}

.noti__item i {
  font-size: 30px;
  color: #a9b3c9;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  vertical-align: middle;
}

@media (max-width: 767px) {
  .noti__item i {
    font-size: 24px;
  }
}

.noti__item .quantity {
  position: absolute;
  display: inline-block;
  top: -4px;
  right: -7px;
  height: 15px;
  width: 15px;
  line-height: 15px;
  text-align: center;
  background: #ff4b5a;
  color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  font-size: 12px;
}

.account-wrap {
  position: relative;
  right: 50px;
}

.account-item {
  cursor: pointer;
}

.account-item .image {
  width: 45px;
  height: 45px;
  float: left;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.account-item .image > img {
  width: 100%;
}

.account-item > .content {
  margin-left: 45px;
  padding: 9px 0;
  padding-left: 12px;
}

.account-item > .content > a {
  color: #333;
  text-transform: capitalize;
  font-weight: 500;
}

.account-item > .content > a:after {
  font-family: "Material-Design-Iconic-Font";
  font-weight: 500;
  content: "\f2f9";
  display: inline-block;
  font-size: 16px;
  margin-left: 5px;
}

.account-item > .content > a:hover {
  color: #666;
}

.account-dropdown {
  min-width: 305px;
  position: absolute;
  top: 58px;
  right: 0;
  background: #fff;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  transform-origin: right top;
  z-index: 500;
}

.account-dropdown .info {
  padding: 25px;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f2f2f2;
  z-index: 500;
}

.account-dropdown .info .image {
  float: left;
  height: 65px;
  width: 65px;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  z-index: 500;
}

.account-dropdown .info .content {
  margin-left: 65px;
  padding: 11px 0;
  padding-left: 12px;
  z-index: 500;
}

.account-dropdown .info .content .name {
  line-height: -webkit-calc(20/16);
  line-height: -moz-calc(20/16);
  line-height: calc(20 / 16);
  z-index: 500;
}

.account-dropdown .info .content .name a {
  color: #333;
  font-weight: 500;
  text-transform: capitalize;
  z-index: 500;
}

.account-dropdown .info .content .name a:hover {
  color: #666;
  z-index: 500;
}

.account-dropdown .info .content .email {
  font-size: 13px;
  color: #999;
  line-height: -webkit-calc(20/13);
  line-height: -moz-calc(20/13);
  line-height: calc(20 / 13);
  z-index: 500;
}

.account-dropdown:after {
  content: "";
  display: block;
  width: 19px;
  height: 19px;
  border-bottom: 9px solid #fff;
  border-top: 9px solid transparent;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  position: absolute;
  top: -18px;
  z-index: 500;
  right: 33px;
}

.account-dropdown__item a {
  display: block;
  color: #333;
  padding: 15px 25px;
  z-index: 500;
  font-size: 14px;
}

.account-dropdown__item a:hover {
  background: #4272d7;
  color: #fff;
  z-index: 500;
}

.account-dropdown__item a i {
  line-height: 1;
  margin-right: 20px;
  font-size: 18px;
  z-index: 500;
  vertical-align: middle;
}

.account-dropdown__body {
  padding: 12px 0;
  z-index: 500;
}

.account-dropdown__footer {
  border-top: 1px solid #f2f2f2;
  z-index: 500;
}

.account-dropdown__footer a {
  display: block;
  color: #333;
  padding: 15px 25px;
  font-size: 14px;
  z-index: 500;
}

.account-dropdown__footer a:hover {
  background: #4272d7;
  color: #fff;
  z-index: 500;
}

.account-dropdown__footer a i {
  line-height: 1;
  margin-right: 20px;
  font-size: 18px;
  vertical-align: middle;
  z-index: 500;
}

.menu-sidebar {
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  overflow-y: auto;
}

.menu-sidebar .logo {
  background: #f5f5f5;
  height: 75px;
  padding: 0 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #e5e5e5;
  position: relative;
  z-index: 3;
}

.menu-sidebar .navbar__list .navbar__sub-list {
  display: none;
  padding-left: 34px;
}

.menu-sidebar .navbar__list .navbar__sub-list li a {
  padding: 11.5px 0;
}

.menu-sidebar__content {
  position: relative;
  height: -webkit-calc(100vh - 75px);
  height: -moz-calc(100vh - 75px);
  height: calc(100vh - 75px);
}

.navbar-sidebar {
  padding: 35px;
  padding-bottom: 0;
}

.navbar-sidebar .navbar__list li a {
  display: block;
  color: #555;
  font-size: 16px;
  padding: 15px 0;
}

.navbar-sidebar .navbar__list li a i {
  margin-right: 19px;
}

.navbar-sidebar .navbar__list li a:hover {
  color: #4272d7;
}

.navbar-sidebar .navbar__list li.active > a {
  color: #4272d7;
}

.has-sub {
  position: relative;
}

.header-mobile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header-mobile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header-mobile .logos {
  width: 60px;
  height: 40px;
  margin-left: 5%;
}

.header-mobile .header-mobile__bar {
  padding: 10px 0;
}

.header-mobile .header-mobile-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-mobile .hamburger {
  width: 36px;
  height: 36px;
  line-height: 1;
  vertical-align: top;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-mobile .hamburger .hamburger-box {
  width: 20px;
  height: 15px;
}

.header-mobile .hamburger .hamburger-box .hamburger-inner {
  width: 20px;
  height: 2px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.header-mobile .hamburger .hamburger-box .hamburger-inner:before {
  width: 20px;
  height: 2px;
  top: 6px;
}

.header-mobile .hamburger .hamburger-box .hamburger-inner:after {
  top: 12px;
  width: 20px;
  height: 2px;
}

.header-mobile .navbar-mobile {
  display: none;
  position: absolute;
  width: 100%;
  top: 88px;
  z-index: 20;
}

.header-mobile .navbar-mobile .navbar-mobile__list {
  background: #f8f8f8;
}

.header-mobile .navbar-mobile .navbar-mobile__list > li > a {
  padding-left: 15px !important;
}

.header-mobile .navbar-mobile .navbar-mobile__list li a {
  color: #555;
  display: block;
  padding: 10px 15px;
  padding-right: 25px;
  padding-left: 0;
  border-bottom: 1px solid #e6e6e6;
  text-transform: capitalize;
  line-height: inherit;
}

.header-mobile .navbar-mobile .navbar-mobile__list li a:hover {
  color: #4272d7;
}

.header-mobile .navbar-mobile .navbar-mobile__list li a > i {
  margin-right: 19px;
}

.header-mobile .navbar-mobile .navbar-mobile__list li.has-dropdown > a:after {
  content: "\f105";
  font-family: FontAwesome, cursive;
  float: right;
  font-size: 16px;
  line-height: 22px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-mobile .navbar-mobile .navbar-mobile__list li.has-dropdown > a.active::after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.header-mobile .navbar-mobile .navbar-mobile__dropdown {
  padding-left: 35px;
  display: none;
}

.navbar-mobile-sub__list {
  display: none;
  padding-left: 30px;
  background: #fff;
}

.header-mobile .navbar-mobile .navbar-mobile-sub__list li a {
  padding-left: 15px;
}

.header-mobile-2 {
  background: #393939;
  position: static;
}

.header-mobile-2.header-mobile .navbar-mobile {
  top: 82px;
}

.header-mobile-2.header-mobile .hamburger {
  background: transparent;
}

.header-mobile-2.header-mobile .hamburger .hamburger-box .hamburger-inner {
  background: #fff;
}

.header-mobile-2.header-mobile .hamburger .hamburger-box .hamburger-inner::before {
  background: #fff;
}

.header-mobile-2.header-mobile .hamburger .hamburger-box .hamburger-inner::after {
  background: #fff;
}

.sub-header-mobile-2 {
  background: #fff;
  padding: 15px;
}

.sub-header-mobile-2 .header__tool {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.sub-header-mobile-2 .header__tool .header-button-item {
  color: #a9b3c9;
}

.sub-header-mobile-2 .header__tool .account-wrap .account-item--style2 .content a {
  color: #333;
}

.sub-header-mobile-2 .header__tool .notifi-dropdown {
  top: 49px;
}

.sub-header-mobile-2 .header__tool .setting-dropdown {
  top: 49px;
}

.hamburger.is-active .hamburger-box .hamburger-inner:after {
  -webkit-transform: translate3d(0, -12px, 0) rotate(-90deg);
  -moz-transform: translate3d(0, -12px, 0) rotate(-90deg);
  transform: translate3d(0, -12px, 0) rotate(-90deg);
}

.mess-dropdown,
.email-dropdown,
.notifi-dropdown,
.setting-dropdown {
  position: absolute;
  z-index: 9999;
  min-width: 340px;
  background: #fff;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #e5e5e5;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
  top: 100%;
  left: 0;
}

.mess-dropdown:before,
.email-dropdown:before,
.notifi-dropdown:before,
.setting-dropdown:before {
  content: "";
  display: block;
  width: 19px;
  height: 19px;
  border-bottom: 9px solid #fff;
  border-top: 9px solid transparent;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  position: absolute;
  top: -17px;
  left: 55px;
  z-index: 3;
}

.mess__title,
.email__title,
.notifi__title {
  padding: 22px;
  border-bottom: 1px solid #f2f2f2;
  cursor: default;
}

.mess__title p,
.email__title p,
.notifi__title p {
  line-height: -webkit-calc(29/14);
  line-height: -moz-calc(29/14);
  line-height: calc(29 / 14);
  font-size: 14px;
  color: #808080;
}

.mess__footer a,
.email__footer a,
.notifi__footer a {
  display: block;
  text-transform: capitalize;
  text-align: center;
  font-size: 14px;
  color: #4272d7;
  padding: 24px 0;
}

.mess__footer a:hover,
.email__footer a:hover,
.notifi__footer a:hover {
  color: #3868cd;
}

.mess-dropdown {
  top: 49px;
  left: -55px;
}

.mess__item {
  padding: 19px 22px;
  padding-bottom: 14px;
  border-bottom: 1px solid #f2f2f2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.mess__item:hover {
  background: #f7f7f7;
}

.mess__item .image {
  margin-right: 15px;
}

.mess__item .content {
  width: -webkit-calc(100% - 55px);
  width: -moz-calc(100% - 55px);
  width: calc(100% - 55px);
  text-align: left;
}

.mess__item .content h6 {
  font-size: 14px;
  font-weight: 600;
  padding-top: 4px;
}

.mess__item .content p {
  font-size: 14px;
  color: #555;
  line-height: -webkit-calc(24/14);
  line-height: -moz-calc(24/14);
  line-height: calc(24 / 14);
  margin-bottom: 4px;
}

.mess__item .content .time {
  font-size: 12px;
  color: #999;
}

.email-dropdown {
  top: 49px;
  left: -53px;
}

.email__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 19px 22px;
  padding-bottom: 14px;
  border-bottom: 1px solid #f2f2f2;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.email__item:hover {
  background: #f7f7f7;
}

.email__item .image {
  margin-right: 15px;
}

.email__item .content {
  width: -webkit-calc(100% - 55px);
  width: -moz-calc(100% - 55px);
  width: calc(100% - 55px);
  text-align: left;
  font-size: 14px;
}

.email__item .content p {
  color: #555;
  line-height: 1;
  padding-top: 4px;
  margin-bottom: 3px;
}

.email__item .content span {
  font-size: 12px;
  color: #999;
}

.notifi-dropdown {
  left: -117px;
  top: 49px;
}

.notifi-dropdown::before {
  left: 63px;
}

.notifi__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 19px 22px;
  padding-bottom: 14px;
  border-bottom: 1px solid #f2f2f2;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.notifi__item:hover {
  background: #f7f7f7;
}

.notifi__item .img-cir {
  position: relative;
  margin-right: 15px;
}

.notifi__item .img-cir i {
  font-size: 22px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notifi__item .content {
  width: -webkit-calc(100% - 55px);
  width: -moz-calc(100% - 55px);
  width: calc(100% - 55px);
  text-align: left;
  font-size: 14px;
}

.notifi__item .content p {
  color: #555;
  line-height: 1;
  padding-top: 5px;
  margin-bottom: 2px;
}

.notifi__item .content .date {
  font-size: 12px;
  color: #999;
}

.show-dropdown .js-dropdown {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  z-index: 500;
  transform: scale(1);
}

.menu-sidebar-min {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

.menu-sidebar2 {
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  overflow-y: auto;
  height: 100vh;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 1000;
}

.menu-sidebar2 .logo {
  height: 75px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #365cad;
  padding: 0 35px;
}

@media (max-width: 991px) {
  .menu-sidebar2 {
    top: 0;
    right: -300px;
    left: auto;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  }

  .menu-sidebar2.show-sidebar {
    right: 0;
  }
}

.account2 {
  padding: 38px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-bottom: 1px solid #f2f2f2;
}

.account2 .name {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.account2 > a {
  font-size: 14px;
  color: #999;
}

.account2 > a:hover {
  color: #666;
}

.menu-sidebar2__content {
  height: -webkit-calc(100vh - 75px);
  height: -moz-calc(100vh - 75px);
  height: calc(100vh - 75px);
  border-right: 1px solid #e5e5e5;
  position: relative;
}

.navbar-sidebar2 .navbar__list li {
  position: relative;
  cursor: pointer;
}

.navbar-sidebar2 .navbar__list li .arrow {
  position: absolute;
  right: 15px;
  top: 0;
  text-align: center;
  vertical-align: middle;
  height: 63px;
  width: 63px;
  line-height: 63px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar-sidebar2 .navbar__list li .arrow.up {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.navbar-sidebar2 .navbar__list li .arrow i {
  font-size: 16px;
  color: #999;
}

.navbar-sidebar2 .navbar__list li:hover > a {
  color: #4272d7;
}

.navbar-sidebar2 .navbar__list li a {
  font-size: 16px;
  color: #555;
  display: block;
  padding: 18px 35px;
  border-bottom: 1px solid #f2f2f2;
}

.navbar-sidebar2 .navbar__list li a > i {
  margin-right: 20px;
}

.navbar-sidebar2 .navbar__list li.active > a {
  color: #4272d7;
}

.navbar-sidebar2 .navbar__sub-list {
  display: none;
}

.navbar-sidebar2 .navbar__sub-list li {
  background: #f5f5f5;
}

.navbar-sidebar2 .navbar__sub-list li a {
  border-color: #ebebeb;
}

.inbox-num {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 34px;
  width: 30px;
  height: 30px;
  background: #ff4b5a;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.header-desktop2 {
  height: 75px;
  background: #4272d7;
  position: fixed;
  z-index: 1001;
  top: 0;
  right: 0;
  left: 300px;
}

@media (max-width: 991px) {
  .header-desktop2 {
    left: 0;
    position: relative;
  }
}

.header-desktop2 .section__content {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header-wrap2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@media (max-width: 991px) {
  .header-wrap2 {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.header-button .notifi-dropdown::before {
  left: 117px;
}

.header-button2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.header-button2 .header-button-item:last-child {
  margin-right: 0;
}

.header-button2 .header-button-item {
  cursor: pointer;
}

.header-button2 .header-button-item i {
  vertical-align: middle;
}

.header-button2 .header-button-item .search-dropdown {
  top: 52px;
}

@media (max-width: 991px) {
  .header-button2 .header-button-item .search-dropdown {
    top: 63px;
    right: -75px;
    -webkit-transform-origin: 70% top;
    -moz-transform-origin: 70% top;
    -ms-transform-origin: 70% top;
    -o-transform-origin: 70% top;
    transform-origin: 70% top;
  }

  .header-button2 .header-button-item .search-dropdown::before {
    right: 79px;
  }
}

.header-button2 .header-button-item .notifi-dropdown {
  top: 52px;
  left: auto;
  right: -68px;
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  transform-origin: right top;
}

.header-button2 .header-button-item .notifi-dropdown::before {
  margin-left: 0;
  left: auto;
  right: 68px;
}

@media (max-width: 991px) {
  .header-button2 .header-button-item .notifi-dropdown {
    top: 63px;
    right: -48px;
    -webkit-transform-origin: 80% top;
    -moz-transform-origin: 80% top;
    -ms-transform-origin: 80% top;
    -o-transform-origin: 80% top;
    transform-origin: 80% top;
  }

  .header-button2 .header-button-item .notifi-dropdown::before {
    margin-left: 0;
    left: auto;
    right: 45px;
  }
}

.header-button-item {
  font-size: 30px;
  color: #fff;
  margin-right: 34px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 767px) {
  .header-button-item {
    font-size: 22px;
    margin-right: 15px;
  }
}

.has-noti > i {
  position: relative;
}

.has-noti > i:after {
  content: "";
  height: 8px;
  width: 8px;
  background: #ff4b5a;
  position: absolute;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  top: 0;
  right: -6px;
}

.search-dropdown {
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  min-width: 340px;
  position: absolute;
  top: 61px;
  right: -125px;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: center top;
  -moz-transform-origin: center top;
  -ms-transform-origin: center top;
  -o-transform-origin: center top;
  transform-origin: center top;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 5;
}

.search-dropdown::before {
  content: "";
  display: block;
  width: 19px;
  height: 19px;
  border-bottom: 9px solid #fff;
  border-top: 9px solid transparent;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  position: absolute;
  top: -18px;
  right: 125px;
}

.search-dropdown form {
  height: 63px;
}

.search-dropdown form .au-input {
  padding-left: 53px;
  font-size: 14px;
  border: none;
  color: #666;
}

.search-dropdown .search-dropdown__icon {
  position: absolute;
  top: 0;
  left: 26px;
  font-size: 24px;
  color: #c9c9c9;
  height: 63px;
  line-height: 63px;
}

.setting-menu {
  position: fixed;
  min-width: 300px;
  right: -300px;
  top: 54px;
  background: #fff;
  text-align: left;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  height: -webkit-calc(100vh - 75px);
  height: -moz-calc(100vh - 75px);
  height: calc(100vh - 75px);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.setting-menu:before {
  content: "";
  display: block;
  width: 19px;
  height: 19px;
  border-bottom: 9px solid #fff;
  border-top: 9px solid transparent;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  position: absolute;
  top: -18px;
  right: 47px;
}

.setting-menu .account-dropdown__body {
  border-bottom: 1px solid #f2f2f2;
  z-index: 500;
}

.setting-menu .account-dropdown__item a {
  color: #555;
}

.setting-menu .account-dropdown__item a:hover {
  color: #fff;
}

.show-sidebar {
  right: 0;
}

.header-desktop3 {
  background: #393939;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 76px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.header-desktop3 .section__content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
}

@media (max-width: 1315px) and (min-width: 992px) {
  .header-desktop3 .section__content {
    padding: 0 15px;
  }
}

.header-desktop3 .header-button-item {
  color: #ccc;
}

.header3-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  left: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

.header3-wrap .header__navbar {
  width: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -12px;
}

.header__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 3;
}

.header__navbar ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__navbar ul li {
  position: relative;
}

.header__navbar ul li:last-child a {
  border-right: 1px solid rgba(255, 255, 255, 0.102);
}

.header__navbar ul li a {
  display: block;
  font-size: 16px;
  color: #ccc;
  padding: 25px 30px;
  border-left: 1px solid rgba(255, 255, 255, 0.102);
}

.header__navbar ul li a i {
  margin-right: 13px;
}

.header__navbar ul li a:hover {
  color: #4272d7;
}

.header__navbar ul li a:hover .bot-line {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 1570px) and (min-width: 992px) {
  .header__navbar ul li a {
    padding: 25px 15px;
  }
}

@media (max-width: 1315px) and (min-width: 992px) {
  .header__navbar ul li a {
    font-size: 13px;
    padding: 27px 15px;
  }

  .header__navbar ul li a i {
    margin-right: 5px;
  }
}

.header__navbar ul li.active > a {
  color: #4272d7;
}

.header__navbar ul li.active > a .bot-line {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__navbar ul.header3-sub-list {
  display: block;
}

.header__navbar li.has-sub:hover > .header3-sub-list {
  opacity: 1;
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__navbar .header3-sub-list {
  position: absolute;
  min-width: 260px;
  background: #fff;
  -webkit-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  opacity: 0;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  -o-transform-origin: top center;
  transform-origin: top center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__navbar .header3-sub-list li a {
  font-size: 15px;
  color: #777777;
  padding: 10px 22px;
  border: none;
  border-bottom: 1px solid #e1e6eb;
}

.header__navbar .header3-sub-list li a:hover {
  color: #4272d7;
  background: #f7f7f7;
}

.header__tool {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__tool .notifi-dropdown {
  left: -68px;
  top: 53px;
}

.header__tool .notifi-dropdown::before {
  left: 70px;
}

.header__tool .header-button-item {
  margin-right: 40px;
}

@media (max-width: 1570px) and (min-width: 992px) {
  .header__tool .header-button-item {
    margin-right: 20px;
  }
}

@media (max-width: 1315px) and (min-width: 992px) {
  .header__tool .header-button-item {
    margin-right: 20px;
    font-size: 24px;
  }
}

@media (max-width: 1315px) and (min-width: 992px) {
  .header__tool .account-item > .content {
    display: none;
  }
}

.bot-line {
  position: absolute;
  width: 100%;
  height: 3px;
  background: #4272d7;
  left: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  -o-transform-origin: top center;
  transform-origin: top center;
}

.setting-dropdown {
  top: 54px;
  left: -97px;
  border: none;
  min-width: 305px;
}

.setting-dropdown::before {
  left: 99px;
}

.setting-dropdown .account-dropdown__body {
  border-bottom: 1px solid #f2f2f2;
  z-index: 500;
}

.setting-dropdown .account-dropdown__body:last-child {
  border-bottom: none;
  z-index: 500;
}

.setting-dropdown .account-dropdown__item a {
  color: #555;
  z-index: 500;
}

.setting-dropdown .account-dropdown__item a:hover {
  color: #fff;
  z-index: 500;
}

.header-button-item {
  cursor: pointer;
}

.notifi-dropdown--no-bor {
  border: none;
}

.notifi-dropdown .notifi__item {
  cursor: pointer;
}

.account-item--style2 .image {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

.account-item--style2 .content a {
  font-size: 16px;
  color: #ccc;
  font-weight: 500;
}

.account-item--style2 .content a:hover {
  color: #fff;
}

.account-item--style2 .account-dropdown {
  top: 61px;
}

.account-item--style2 .account-dropdown .info .image {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

.header-desktop4 {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  background: #fff;
}

@media (max-width: 991px) {
  .header-desktop4 {
    position: static;
  }
}

.header4-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header4-wrap .header__tool .header-button-item {
  color: #a9b3c9;
}

@media (max-width: 991px) {
  .header4-wrap .header__tool .header-button-item {
    margin-right: 20px;
  }
}

.header4-wrap .header__tool .notifi-dropdown {
  top: 51px;
}

@media (max-width: 991px) {
  .header4-wrap .header__tool .notifi-dropdown {
    left: -220px;
    -webkit-transform-origin: 60% 0%;
    -moz-transform-origin: 60% 0%;
    -ms-transform-origin: 60% 0%;
    -o-transform-origin: 60% 0%;
    transform-origin: 60% 0%;
  }
}

.header4-wrap .header__tool .setting-dropdown {
  border: 1px solid #e5e5e5;
  top: 51px;
}

@media (max-width: 991px) {
  .header4-wrap .header__tool .setting-dropdown {
    left: -240px;
    -webkit-transform-origin: 85% 0%;
    -moz-transform-origin: 85% 0%;
    -ms-transform-origin: 85% 0%;
    -o-transform-origin: 85% 0%;
    transform-origin: 85% 0%;
  }
}

.header4-wrap .header__tool .account-dropdown {
  top: 59px;
}

@media (max-width: 1315px) and (min-width: 992px) {
  .header4-wrap .header__tool .account-item > .content {
    display: block;
  }
}

@media (max-width: 991px) {
  .header4-wrap .header__tool .account-item > .content {
    display: none;
  }
}

.header4-wrap .header__tool .account-item--style2 .content a {
  color: #333;
}

.header4-wrap .header__tool .account-item--style2 .content a:hover {
  color: #222;
}

.navbar-sidebar3 {
  padding-right: 20px;
}

.navbar-sidebar3 .navbar__list li.active > a {
  background: #4272d7;
  color: #fff;
}

.navbar-sidebar3 .navbar__list li.active > a > .arrow > i {
  color: #fff;
}

.navbar-sidebar3 .navbar__list li a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 18px 27px;
  border-bottom: none;
}

.navbar-sidebar3 .navbar__sub-list {
  padding-left: 36px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-sidebar3 .navbar__sub-list li {
  background: transparent;
}

.navbar-sidebar3 .navbar__sub-list li a {
  padding: 11.5px 27px;
}

.navbar-sidebar3 .has-sub.open > a {
  background: #fff;
  border: 1px solid #e5e5e5;
}

@media (max-width: 1199px) {
  .navbar-sidebar3 {
    padding-right: 0;
    margin-bottom: 30px;
  }
}

/* ----- Table ----- */
.table {
  margin: 0;
}

.table-responsive.table--no-card {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.table-earning thead th {
  background: #333;
  font-size: 16px;
  color: #fff;
  vertical-align: middle;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1;
  padding: 22px 40px;
  white-space: nowrap;
}

.table-earning thead th.text-right {
  padding-left: 15px;
  padding-right: 65px;
}

.table-earning tbody td {
  color: #808080;
  padding: 12px 40px;
  white-space: nowrap;
}

.table-earning tbody td.text-right {
  padding-left: 15px;
  padding-right: 65px;
}

.table-earning tbody tr:hover td {
  color: #555;
  cursor: pointer;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: #f5f5f5;
}

.table-top-countries tbody td {
  white-space: nowrap;
  font-size: 14px;
  color: #fff;
  padding: 14px 5px;
  border-top: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.table-top-countries tbody tr:last-child td {
  border-bottom: none;
}

.table-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (min-width: 992px) and (max-width: 1519px) {
  .table-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 991px) {
  .table-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.table-style1 {
  max-width: 280px;
  margin-bottom: 30px;
}

.table-style1 .table tr:last-child td {
  border-bottom: none;
}

.table-style1 .table tr td:last-child {
  padding-right: 30px;
}

.table-style1 .table td {
  font-size: 14px;
  color: #808080;
  border-top: none;
  border-bottom: 1px solid #f2f2f2;
  padding: 12px 6px;
  vertical-align: middle;
}

.table-data {
  height: 472px;
  overflow-y: auto;
}

.table-data thead tr td {
  font-size: 12px;
  font-weight: 600;
  color: #808080;
  text-transform: uppercase;
}

.table-data .table td {
  border-top: none;
  border-bottom: 1px solid #f2f2f2;
  padding-top: 23px;
  padding-bottom: 33px;
  padding-left: 40px;
  padding-right: 10px;
}

.table-data .table tr td:last-child {
  padding-right: 24px;
}

.table-data tbody tr:hover td .more {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.table-data__info h6 {
  font-size: 14px;
  color: #808080;
  text-transform: capitalize;
  font-weight: 400;
}

.table-data__info span a {
  font-size: 12px;
  color: #999;
}

.table-data__info span a:hover {
  color: #666;
}

.more {
  display: inline-block;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: #e5e5e5;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.more i {
  font-size: 20px;
  color: #808080;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.role {
  display: inline-block;
  line-height: 30px;
  font-size: 14px;
  color: #fff;
  padding: 0 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: capitalize;
}

.table-top-campaign.table td {
  border-top: none;
  border-bottom: 1px solid #e5e5e5;
  font-size: 14px;
  padding: 12px 6px;
}

.table-top-campaign.table tr td:first-child {
  color: #808080;
}

.table-top-campaign.table tr td:last-child {
  color: #4272d7;
  text-align: right;
}

.table-top-campaign.table tr:last-child td {
  border-bottom: none;
}

@media (min-width: 1200px) {
  .table-responsive-data2 {
    overflow: visible;
  }
}

.table-data2 {
  border-collapse: collapse;
  overflow: visible;
}

.table-data2.table thead th {
  font-size: 12px;
  color: #555;
  text-transform: uppercase;
  border: none;
  font-weight: 600;
  vertical-align: top;
  padding: 15px 40px;
  padding-right: 10px;
}

.table-data2.table thead th:first-child {
  padding-right: 0;
}

.table-data2.table tbody {
  background: #fff;
}

.table-data2.table tbody tr td:first-child {
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
  vertical-align: top;
}

.table-data2.table tbody tr td:first-child .au-checkbox {
  margin-top: 5px;
}

@media (max-width: 1199px) {
  .table-data2.table tbody tr td:first-child {
    vertical-align: middle;
  }

  .table-data2.table tbody tr td:first-child .au-checkbox {
    margin-top: 0;
  }
}

.table-data2.table tbody tr td:last-child {
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
  padding-right: 35px;
}

.table-data2.table tbody td {
  font-size: 14px;
  color: #808080;
  vertical-align: middle;
  padding: 25px 40px;
  padding-right: 10px;
  border: none;
}

.table-data2.table tbody td.desc {
  color: #4272d7;
}

.table-data2 .spacer {
  height: 5px;
  background: transparent;
}

.tr-shadow {
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
}

.table-data__tool {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 28px;
}

.table-data__tool .table-data__tool-left > div {
  margin-right: 12px;
}

.table-data__tool .table-data__tool-right > button {
  margin-right: 12px;
}

@media (max-width: 991px) {
  .table-data__tool {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .table-data__tool .table-data__tool-right {
    margin-top: 10px;
  }

  .table-data__tool .table-data__tool-right > button {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.table-data-feature {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.table-data-feature .item {
  display: block;
  height: 30px;
  width: 30px;
  position: relative;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: #e5e5e5;
  margin-right: 5px;
}

.table-data-feature .item:last-child {
  margin-right: 0;
}

.table-data-feature .item i {
  font-size: 20px;
  color: #808080;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.block-email {
  font-size: 14px;
  color: #808080;
  display: inline-block;
  background: #f2f2f2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  line-height: 30px;
  padding: 0 14px;
}

.status--process {
  color: #00ad5f;
}

.status--denied {
  color: #fa4251;
}

.table-data3 thead {
  background: #333;
}

.table-data3 thead tr th {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
  padding: 18px 40px;
  padding-right: 10px;
}

.table-data3 thead tr th:first-child {
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
}

.table-data3 thead tr th:last-child {
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
}

.table-data3 thead tr th:last-child {
  text-align: right;
  padding-right: 50px;
}

.table-data3 tbody tr td:last-child {
  text-align: right;
  padding-right: 50px;
}

.table-data3 tbody tr {
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.table-data3 tbody tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-left-radius: 8px;
}

.table-data3 tbody tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  border-bottom-right-radius: 8px;
}

.table-data3 tbody td {
  border-bottom: 1px solid #f5f5f5;
  background: #fff;
  font-size: 14px;
  color: #808080;
  padding: 12px 40px;
  padding-right: 10px;
}

.table-data3 tbody td.process {
  color: #00ad5f;
}

.table-data3 tbody td.denied {
  color: #fa4251;
}
