/*Image*/
.img-radius {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.img-cir {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
}

.logo-desktop {
  height: 44px;
  width: 60px;
  margin-left: 30px;
}

.img-120 {
  width: 120px;
  height: 120px;
}
ul {
  margin: 0;
}

button,
input[type="button"] {
  cursor: pointer;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
}

button {
  border: none;
  background: none;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
}

.table-responsive {
  padding-right: 1px;
}

.card {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* ----- Typography ----- */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
  font-weight: 700;
  margin: 0;
  line-height: 1.2;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 13px;
}

blockquote {
  margin: 0;
}

strong {
  font-weight: 700;
}

/* ----- Header ----- */
.header-desktop {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 75px;
  z-index: 9999;
}

.header-desktop .section__content {
  overflow: visible;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

@media (max-width: 991px) {
  .header-desktop {
    position: relative;
    top: 0;
    left: 0;
    height: 170px;
  }
}

.header-desktop .mess-dropdown {
  top: 51px;
}

.header-desktop .email-dropdown {
  top: 51px;
}

.header-desktop .notifi-dropdown {
  top: 51px;
}

@media (max-width: 991px) {
  .logo {
    text-align: center;
    left: 10px;
  }
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .header-wrap .account-item > .content {
    display: none;
  }
}

@media (max-width: 991px) {
  .header-wrap {
    flex-direction: column;
  }

  .header-wrap .mess-dropdown {
    left: 0;
  }

  .header-wrap .mess-dropdown::before {
    left: 0;
  }

  .header-wrap .notifi-dropdown {
    left: -83px;
  }

  .header-wrap .notifi-dropdown::before {
    left: 79px;
  }
}

.account-wrap {
  position: relative;
  right: 70px;
  margin-top: 10px;
}

.account-item {
  cursor: pointer;
}

.account-item .image {
  width: 45px;
  height: 45px;
  float: left;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.account-item .image > img {
  width: 100%;
}

.account-item > .content {
  margin-left: 45px;
  padding: 9px 0;
  padding-left: 12px;
}

.account-item > .content > a {
  color: #333;
  text-transform: capitalize;
  font-weight: 500;
}

.account-item > .content > a:after {
  font-family: "Material-Design-Iconic-Font";
  font-weight: 500;
  content: "\f2f9";
  display: inline-block;
  font-size: 16px;
  margin-left: 5px;
}

.account-item > .content > a:hover {
  color: #666;
}

.account-dropdown {
  min-width: 305px;
  position: absolute;
  top: 58px;
  right: 0;
  background: #fff;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  transform-origin: right top;
  z-index: 500;
}

.account-dropdown .info {
  padding: 25px;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f2f2f2;
  z-index: 500;
}

.account-dropdown .info .image {
  float: left;
  height: 65px;
  width: 65px;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  z-index: 500;
}

.account-dropdown .info .content {
  margin-left: 65px;
  padding: 11px 0;
  padding-left: 12px;
  z-index: 500;
}

.account-dropdown .info .content .name {
  line-height: -webkit-calc(20/16);
  line-height: -moz-calc(20/16);
  line-height: calc(20 / 16);
  z-index: 500;
}

.account-dropdown .info .content .name a {
  color: #333;
  font-weight: 500;
  text-transform: capitalize;
  z-index: 500;
}

.account-dropdown .info .content .name a:hover {
  color: #666;
  z-index: 500;
}

.account-dropdown .info .content .email {
  font-size: 13px;
  color: #999;
  line-height: -webkit-calc(20/13);
  line-height: -moz-calc(20/13);
  line-height: calc(20 / 13);
  z-index: 500;
}

.account-dropdown:after {
  content: "";
  display: block;
  width: 19px;
  height: 19px;
  border-bottom: 9px solid #fff;
  border-top: 9px solid transparent;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  position: absolute;
  top: -18px;
  z-index: 500;
  right: 33px;
}

.account-dropdown__item a {
  display: block;
  color: #333;
  padding: 15px 25px;
  z-index: 500;
  font-size: 14px;
}

.account-dropdown__item a:hover {
  background: #4272d7;
  color: #fff;
  z-index: 500;
}

.account-dropdown__item a i {
  line-height: 1;
  margin-right: 20px;
  font-size: 18px;
  z-index: 500;
  vertical-align: middle;
}

.account-dropdown__body {
  padding: 12px 0;
  z-index: 500;
}

.account-dropdown__footer {
  border-top: 1px solid #f2f2f2;
  z-index: 500;
}

.account-dropdown__footer a {
  display: block;
  color: #333;
  padding: 15px 25px;
  font-size: 14px;
  z-index: 500;
}

.account-dropdown__footer a:hover {
  background: #4272d7;
  color: #fff;
  z-index: 500;
}

.account-dropdown__footer a i {
  line-height: 1;
  margin-right: 20px;
  font-size: 18px;
  vertical-align: middle;
  z-index: 500;
}

.has-sub {
  position: relative;
}

.header-mobile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header-mobile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header-mobile .logos {
  width: 60px;
  height: 40px;
  margin-left: 5%;
}

.header-mobile .header-mobile__bar {
  padding: 10px 0;
}

.header-mobile .header-mobile-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-mobile .hamburger {
  width: 36px;
  height: 36px;
  line-height: 1;
  vertical-align: top;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-mobile .hamburger .hamburger-box {
  width: 20px;
  height: 15px;
}

.header-mobile .hamburger .hamburger-box .hamburger-inner {
  width: 20px;
  height: 2px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.header-mobile .hamburger .hamburger-box .hamburger-inner:before {
  width: 20px;
  height: 2px;
  top: 6px;
}

.header-mobile .hamburger .hamburger-box .hamburger-inner:after {
  top: 12px;
  width: 20px;
  height: 2px;
}

.header-mobile .navbar-mobile {
  display: none;
  position: absolute;
  width: 100%;
  top: 88px;
  z-index: 20;
}

.header-mobile .navbar-mobile .navbar-mobile__list {
  background: #f8f8f8;
}

.header-mobile .navbar-mobile .navbar-mobile__list > li > a {
  padding-left: 15px !important;
}

.header-mobile .navbar-mobile .navbar-mobile__list li a {
  color: #555;
  display: block;
  padding: 10px 15px;
  padding-right: 25px;
  padding-left: 0;
  border-bottom: 1px solid #e6e6e6;
  text-transform: capitalize;
  line-height: inherit;
}

.header-mobile .navbar-mobile .navbar-mobile__list li a:hover {
  color: #4272d7;
}

.header-mobile .navbar-mobile .navbar-mobile__list li a > i {
  margin-right: 19px;
}

.header-mobile .navbar-mobile .navbar-mobile__list li.has-dropdown > a:after {
  content: "\f105";
  font-family: FontAwesome, cursive;
  float: right;
  font-size: 16px;
  line-height: 22px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-mobile .navbar-mobile .navbar-mobile__list li.has-dropdown > a.active::after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.header-mobile .navbar-mobile .navbar-mobile__dropdown {
  padding-left: 35px;
  display: none;
}

.navbar-mobile-sub__list {
  display: none;
  padding-left: 30px;
  background: #fff;
}

.header-mobile .navbar-mobile .navbar-mobile-sub__list li a {
  padding-left: 15px;
}

.header-mobile-2 {
  background: #393939;
  position: static;
}

.header-mobile-2.header-mobile .navbar-mobile {
  top: 82px;
}

.header-mobile-2.header-mobile .hamburger {
  background: transparent;
}

.header-mobile-2.header-mobile .hamburger .hamburger-box .hamburger-inner {
  background: #fff;
}

.header-mobile-2.header-mobile .hamburger .hamburger-box .hamburger-inner::before {
  background: #fff;
}

.header-mobile-2.header-mobile .hamburger .hamburger-box .hamburger-inner::after {
  background: #fff;
}
.show-dropdown .js-dropdown {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  z-index: 500;
  transform: scale(1);
}

@media (max-width: 1315px) and (min-width: 992px) {
  .header-desktop3 .section__content {
    padding: 0 15px;
  }
}

.header-desktop3 .header-button-item {
  color: #ccc;
}

.header3-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  left: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

.header3-wrap .header__navbar {
  width: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -12px;
}

.header__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 3;
}

.header__navbar ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__navbar ul li {
  position: relative;
}

.header__navbar ul li:last-child a {
  border-right: 1px solid rgba(255, 255, 255, 0.102);
}

.header__navbar ul li a {
  display: block;
  font-size: 16px;
  color: #ffffff;
  padding: 25px 30px;
  border-left: 1px solid rgba(255, 255, 255, 0.102);
}

.header__navbar ul li a i {
  margin-right: 13px;
}

.header__navbar ul li a:hover {
  color: #4272d7;
}

.header__navbar ul li a:hover .bot-line {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 1570px) and (min-width: 992px) {
  .header__navbar ul li a {
    padding: 25px 15px;
  }
}

@media (max-width: 1315px) and (min-width: 992px) {
  .header__navbar ul li a {
    font-size: 13px;
    padding: 27px 15px;
  }

  .header__navbar ul li a i {
    margin-right: 5px;
  }
}

.header__navbar ul li.active > a {
  color: #4272d7;
}

.header__navbar ul li.active > a .bot-line {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__navbar ul.header3-sub-list {
  display: block;
}

.header__navbar li.has-sub:hover > .header3-sub-list {
  opacity: 1;
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__navbar .header3-sub-list {
  position: absolute;
  min-width: 260px;
  background: #fff;
  -webkit-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  opacity: 0;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  -o-transform-origin: top center;
  transform-origin: top center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__navbar .header3-sub-list li a {
  font-size: 15px;
  color: #777777;
  padding: 10px 22px;
  border: none;
  border-bottom: 1px solid #e1e6eb;
}

.header__navbar .header3-sub-list li a:hover {
  color: #4272d7;
  background: #f7f7f7;
}

.header__tool {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__tool .notifi-dropdown {
  left: -68px;
  top: 53px;
}

.header__tool .notifi-dropdown::before {
  left: 70px;
}

.header__tool .header-button-item {
  margin-right: 40px;
}

@media (max-width: 1570px) and (min-width: 992px) {
  .header__tool .header-button-item {
    margin-right: 20px;
  }
}

@media (max-width: 1315px) and (min-width: 992px) {
  .header__tool .header-button-item {
    margin-right: 20px;
    font-size: 24px;
  }
}

@media (max-width: 1315px) and (min-width: 992px) {
  .header__tool .account-item > .content {
    display: none;
  }
}

.account-item--style2 .image {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

.account-item--style2 .content a {
  font-size: 16px;
  color: #ccc;
  font-weight: 500;
}

.account-item--style2 .content a:hover {
  color: #fff;
}

.account-item--style2 .account-dropdown {
  top: 61px;
}

.account-item--style2 .account-dropdown .info .image {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

/* ----- Table ----- */
.table {
  margin: 0;
}

.table-responsive.table--no-card {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.table-earning thead th {
  background: #333;
  font-size: 16px;
  color: #fff;
  vertical-align: middle;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1;
  padding: 22px 40px;
  white-space: nowrap;
}

.table-earning thead th.text-right {
  padding-left: 15px;
  padding-right: 65px;
}

.table-earning tbody td {
  color: #808080;
  padding: 12px 40px;
  white-space: nowrap;
}

.table-earning tbody td.text-right {
  padding-left: 15px;
  padding-right: 65px;
}

.table-earning tbody tr:hover td {
  color: #555;
  cursor: pointer;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: #f5f5f5;
}

.table-top-countries tbody td {
  white-space: nowrap;
  font-size: 14px;
  color: #fff;
  padding: 14px 5px;
  border-top: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.table-top-countries tbody tr:last-child td {
  border-bottom: none;
}

.table-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (min-width: 992px) and (max-width: 1519px) {
  .table-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 991px) {
  .table-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.table-style1 {
  max-width: 280px;
  margin-bottom: 30px;
}

.table-style1 .table tr:last-child td {
  border-bottom: none;
}

.table-style1 .table tr td:last-child {
  padding-right: 30px;
}

.table-style1 .table td {
  font-size: 14px;
  color: #808080;
  border-top: none;
  border-bottom: 1px solid #f2f2f2;
  padding: 12px 6px;
  vertical-align: middle;
}

.table-data {
  height: 472px;
  overflow-y: auto;
}

.table-data thead tr td {
  font-size: 12px;
  font-weight: 600;
  color: #808080;
  text-transform: uppercase;
}

.table-data .table td {
  border-top: none;
  border-bottom: 1px solid #f2f2f2;
  padding-top: 23px;
  padding-bottom: 33px;
  padding-left: 40px;
  padding-right: 10px;
}

.table-data .table tr td:last-child {
  padding-right: 24px;
}

.table-data tbody tr:hover td .more {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.table-data__info h6 {
  font-size: 14px;
  color: #808080;
  text-transform: capitalize;
  font-weight: 400;
}

.table-data__info span a {
  font-size: 12px;
  color: #999;
}

.table-data__info span a:hover {
  color: #666;
}

.more {
  display: inline-block;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: #e5e5e5;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.more i {
  font-size: 20px;
  color: #808080;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.role {
  display: inline-block;
  line-height: 30px;
  font-size: 14px;
  color: #fff;
  padding: 0 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: capitalize;
}

.table-top-campaign.table td {
  border-top: none;
  border-bottom: 1px solid #e5e5e5;
  font-size: 14px;
  padding: 12px 6px;
}

.table-top-campaign.table tr td:first-child {
  color: #808080;
}

.table-top-campaign.table tr td:last-child {
  color: #4272d7;
  text-align: right;
}

.table-top-campaign.table tr:last-child td {
  border-bottom: none;
}

@media (min-width: 1200px) {
  .table-responsive-data2 {
    overflow: visible;
  }
}

.table-data2 {
  border-collapse: collapse;
  overflow: visible;
}

.table-data2.table thead th {
  font-size: 12px;
  color: #555;
  text-transform: uppercase;
  border: none;
  font-weight: 600;
  vertical-align: top;
  padding: 15px 40px;
  padding-right: 10px;
}

.table-data2.table thead th:first-child {
  padding-right: 0;
}

.table-data2.table tbody {
  background: #fff;
}

.table-data2.table tbody tr td:first-child {
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
  vertical-align: top;
}

.table-data2.table tbody tr td:first-child .au-checkbox {
  margin-top: 5px;
}

@media (max-width: 1199px) {
  .table-data2.table tbody tr td:first-child {
    vertical-align: middle;
  }

  .table-data2.table tbody tr td:first-child .au-checkbox {
    margin-top: 0;
  }
}

.table-data2.table tbody tr td:last-child {
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
  padding-right: 35px;
}

.table-data2.table tbody td {
  font-size: 14px;
  color: #808080;
  vertical-align: middle;
  padding: 25px 40px;
  padding-right: 10px;
  border: none;
}

.table-data2.table tbody td.desc {
  color: #4272d7;
}

.table-data2 .spacer {
  height: 5px;
  background: transparent;
}

.tr-shadow {
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
}

.table-data__tool {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 28px;
}

.table-data__tool .table-data__tool-left > div {
  margin-right: 12px;
}

.table-data__tool .table-data__tool-right > button {
  margin-right: 12px;
}

@media (max-width: 991px) {
  .table-data__tool {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .table-data__tool .table-data__tool-right {
    margin-top: 10px;
  }

  .table-data__tool .table-data__tool-right > button {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.table-data-feature {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.table-data-feature .item {
  display: block;
  height: 30px;
  width: 30px;
  position: relative;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: #e5e5e5;
  margin-right: 5px;
}

.table-data-feature .item:last-child {
  margin-right: 0;
}

.table-data-feature .item i {
  font-size: 20px;
  color: #808080;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.block-email {
  font-size: 14px;
  color: #808080;
  display: inline-block;
  background: #f2f2f2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  line-height: 30px;
  padding: 0 14px;
}

.status--process {
  color: #00ad5f;
}

.status--denied {
  color: #fa4251;
}

.table-data3 thead {
  background: #333;
}

.table-data3 thead tr th {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
  padding: 18px 40px;
  padding-right: 10px;
}

.table-data3 thead tr th:first-child {
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
}

.table-data3 thead tr th:last-child {
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
}

.table-data3 thead tr th:last-child {
  text-align: right;
  padding-right: 50px;
}

.table-data3 tbody tr td:last-child {
  text-align: right;
  padding-right: 50px;
}

.table-data3 tbody tr {
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.table-data3 tbody tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-left-radius: 8px;
}

.table-data3 tbody tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  border-bottom-right-radius: 8px;
}

.table-data3 tbody td {
  border-bottom: 1px solid #f5f5f5;
  background: #fff;
  font-size: 14px;
  color: #808080;
  padding: 12px 40px;
  padding-right: 10px;
}

.table-data3 tbody td.process {
  color: #00ad5f;
}

.table-data3 tbody td.denied {
  color: #fa4251;
}

.button-shadow {
  display: inline-block;
  padding: 8px 15px;
  border: none;
  margin-right: 20px;
  background: transparent;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.button-shadow1 {
  display: inline-block;
  padding: 8px 15px;
  border: none;
  margin-right: 20px;
  background: transparent;
  box-shadow: 0px 0px 10px rgba(231, 231, 231, 0.3);
  border-radius: 10px;
}

/* sidebar */
body {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  font-weight: normal;
  color: rgb(0, 0, 0);
}

.ftco-section {
  padding: 7em 0;
}

.ftco-no-pt {
  padding-top: 0;
}

.ftco-no-pb {
  padding-bottom: 0;
}

.heading-section {
  font-size: 28px;
  color: #000;
}
.heading-section small {
  font-size: 18px;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.wrapper {
  width: 100%;
}

#sidebar {
  min-width: 300px;
  max-width: 300px;
  background: #1d1919;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#sidebar.active {
  margin-left: -300px;
}
#sidebar .logo {
  display: block;
  width: 120px;
  height: 120px;
  margin: 0 auto;
}
#sidebar .logo span {
  display: block;
}
#sidebar ul.components {
  padding: 0;
}
#sidebar ul li {
  font-size: 16px;
}
#sidebar ul li > ul {
  margin-left: 10px;
}
#sidebar ul li > ul li {
  font-size: 14px;
}
#sidebar ul li a {
  padding: 10px 0;
  display: block;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#sidebar ul li a:hover {
  color: #f8b739;
}
#sidebar ul li.active > a {
  background: transparent;
  color: #f8b739;
}
@media (max-width: 991.98px) {
  #sidebar {
    margin-left: -300px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (max-width: 991.98px) {
  #sidebarCollapse span {
    display: none;
  }
}

#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn.btn-primary {
  background: #f8b739;
  border-color: #f8b739;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background: #f8b739 !important;
  border-color: #f8b739 !important;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: left;
}
